@import url("reset.css");
@import url("fonts.css");



.wrapper {
	position: relative;
	overflow: clip;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.header {
	padding: 82px 0 40px;
}

.header__container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header__title {
	font-family: 'Lato', sans-serif;
	font-weight: 800;
	font-size: 32px;
	line-height: 1.25;
	text-align: center;
	text-transform: uppercase;
	color: #2F302C;
	margin: 0;
}

.header__text {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.3;
	text-align: center;
	margin-top: 24px;
	color: #7E7F7C;
	text-transform: uppercase;
}

.main__container {
	display: flex;
	gap: 80px;
	padding-top: 82px;
	align-items: stretch;
}

.main__form {
	flex-basis: 1 1 50%;
	/* margin-left: 5%; */

}

.form__body {
	display: flex;
	flex-direction: column;
}

.form__title h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 800;
	font-size: 32px;
	line-height: 1.25;
	text-transform: uppercase;
	color: #2F302C;
	margin: 0;

}

.form__text {
	margin-top: 24px;

}

.form__text h2 {
	display: inline;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.3;
	color: #7E7F7C;
}

.form__link {
	display: inline;
	margin-left: 5px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.3;
	color: #2F302C;
	text-decoration: none;
}

.form__link:hover {
	text-decoration: underline;
}

.form__container {
	display: flex;
	flex-wrap: wrap;
	gap: 32px;
	margin-top: 48px;
}

.form__input {
	flex: 1 1 calc(50% - 32px);
	min-width: 220px;
	font-family: 'Lato', sans-serif;
}

.form__input:nth-child(3) {
	flex-basis: 100%;
}

.form__input input {
	width: 100%;
	padding: 12px 4px;
	font-size: 16px;
	border: none;
	border-bottom: 1px solid #d4d4d4;
	outline: none;
	transition: border-color .3s;
}

.form__input input:hover {
	border-bottom-color: #7E7F7C;
}

.form__input input:focus::placeholder {
	opacity: 0;
}

.form__button {
	padding: 12px 104px;
	margin-top: 72px;
	background-color: #2F302C;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
	transition: .3s;
	min-width: 47.5%;
}

.form__button:hover {
	transform: translate(-3px, -3px) scale(1.03);
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}







/* IMAGE  */


.main__image {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-basis: 100%;
	background-color: #F6F6F6;
}

.image__sale {
	margin-right: 40%;
	margin-top: 30%;
}

.image__hot-label {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.25;
	color: #FFFFFF;
	background-color: #CE0000;
	padding: 4px 8px;
	border-radius: 5px;
	text-transform: uppercase;

}

.image__label {
	font-family: 'Lato', sans-serif;
	font-weight: 800;
	font-size: 32px;
	line-height: 1.25;
	color: #2F302C;
	text-transform: uppercase;
	margin-top: 24px;
}



.main__image img {
	position: absolute;
	top: 0;
	right: 100px;
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
}





.footer__container {
	margin-top: auto;
	padding: 40px 0;
	display: flex;
	justify-content: center;
}

.footer__text {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 1.2;
	color: #7E7F7C;
}